body {
background color: #edeef9;
}

#name {
text-align: center;
}

#address {
width: 33.3333%;
text-align: left;
}

#phone {
width: 33.3333%;
text-align: center;
}

#email {
width: 33.3333%;
text-align: right;
}

.section-title {
text-align: center;
}

.date {
float: right;
}
