body {
  font: 16px Arial, Sans-Serif;
	background-image: url("background image blue.jpg");
	background-size: 100% 100%;
	background-position: center center;
}

#container {
  width: 800px;
	margin: 40px auto 60px;
}

#name {
  text-align: center;
}

#contact-info {
  text-align: center;
}

.section-title {
  text-align: center;
}

.test {

display: inline-block;}

.date {
  float: right;
}
