body {
background color: #edeef9;
}

.name {
text-align: center;
}

.address {
text-align: left;
}

.phone {
text-align: center;
}

.email {
text-align: right;
}

.section-title {
text-align: center;
}

.date {
float: right;
}
